#fifth-section {
    flex-direction: column;
    gap: 0px;

    h2 {
        margin: 72px 0 30px;
    }

    .testimonials {
        display: flex;
        justify-content: space-around;
        gap: 50px;
        margin: 72px 0;

        .testimonial {
            max-width: 378px;

            &>p {
                font-weight: bold;
            }

            svg {
                margin: 10px 0;
            }
        }
    }

    @media screen and (max-width: 768px) {
        h2 {
            margin: 30px 0;
        }

        .testimonials {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .testimonial {
                max-width: 100%;
            }
        }
        
    }

    @media screen and (max-width: 480px) {
        h2 {
            font-size: 24px;
        }

        .testimonials {
            gap: 10px;
        }
    }
}