#fourth-section {
    justify-content: space-between;
    background-color: var(--principal-color);
    color: var(--secondary-color);

    h2 {
        margin-bottom: 24px;
    }

    p {
        margin: 10px 0;
    }

    .cta-container {
        display: flex;
        margin-top: 24px;

        .cta-button {
            padding: 12px 78px;
            background-color: var(--secondary-color);
            color: var(--tertiary-color);
        }
    }

}