header {
    display: flex;
    justify-content: space-around;
    margin: .6rem 0;
    border-bottom: .1rem solid var(--principal-color);

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 90%;

        .logo img {
            width: 5rem;
        }

        ul {
            display: flex;
            gap: 1.2rem;
            align-items: center;

            a {
                text-decoration: none;
                color: #525554;

                &:hover {
                    color: var(--principal-color);
                    text-decoration: underline;
                }
            }
        }
    }

    @media screen and (max-width: 375px) {
        .navbar {
            .logo img {
                width: 3.7rem;
            }

            ul {
                gap: .6rem;
                font-size: .8rem;
            }
        }
    }
}