#second-section {
    background-color: var(--principal-color);
    color: var(--secondary-color);
    flex-direction: column;
    padding: 100px 0;

    h2 {
        margin-bottom: 100px;
        text-align: center;
    }

    .benefits {
        display: flex;
        justify-content: space-between;

        .benefit {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            text-align: center;

            h3 {
                font-weight: bold;
                margin: 24px 0;
                font-size: 24px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 50px 0;

        h2 {
            margin-bottom: 50px;
        }

        .benefits {
            flex-direction: column;

            .benefit {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
}