#seventh-section {
    background-color: var(--quaternary-color);
    color: var(--principal-color);
    flex-direction: column;
    gap: 0;

    h2 {
        margin: 4.5rem 0 1.8rem;
    }

    p {
        margin-bottom: 1.8rem;
    }

    .cta-container {
        .cta-button {
            padding: .7rem 4.8rem;
            background-color: var(--principal-color);
            color: var(--secondary-color);
            margin-bottom: 1.8rem;
        }
    }

    @media screen and (max-width: 768px) {
        h2 {
            margin: 1.8rem 0;
        }
    }

    @media screen and (max-width: 480px) {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        .cta-container {
            .cta-button {
                padding: .7rem 1.8rem;
            }
        }
    }
}