#sixth-section {
  flex-direction: column;
  background-color: var(--principal-color);
  color: var(--secondary-color);
  gap: 0;

  h2 {
    margin: 4.5rem 0 1.8rem;
  }

  .questions {
    margin: 4.5rem 0 1.8rem;

    .question {
      border-bottom: .1rem solid var(--secondary-color);
      border-top: .1rem solid var(--secondary-color);
      padding: 1.2rem;
      cursor: pointer;
      width: 45.2rem;

      p {
        width: 100%;
      }

      .question-container {
        display: flex;
        align-items: center;

        p {
          font-weight: bold;
        }
      }

      .question-response {
        margin-top: 1.2rem;
        display: none;

        &.show {
          display: block;
        }
      }

      .arrow {
        border: solid var(--secondary-color);
        border-width: 0 .1rem .1rem 0;
        display: inline-block;
        padding: .1rem;
        width: .3rem;
        height: .3rem;
        transition: rotate .2s ease-in-out;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      .active {
        rotate: z 180deg;
      }
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: center;

    h2 {
      margin: 1.8rem 0;
      text-align: center;
    }

    .questions {
      .question {
        width: 80vw;
      }
    }
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}