#sixth-section {
  flex-direction: column;
  background-color: var(--principal-color);
  color: var(--secondary-color);
  gap: 0px;

  h2 {
    margin: 72px 0 30px;
  }

  .questions {
    margin: 72px 0 30px;

    .question {
      border-bottom: 1px solid var(--secondary-color);
      border-top: 1px solid var(--secondary-color);
      padding: 20px;
      cursor: pointer;
      width: 724px;

      p {
        width: 100%;
      }

      .question-container {
        display: flex;
        align-items: center;

        p {
          font-weight: bold;
        }
      }

      .question-response {
        margin-top: 20px;
        display: none;

        &.show {
          display: block;
        }
      }

      .arrow {
        border: solid var(--secondary-color);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        width: 5px;
        height: 5px;
        transition: rotate .2s ease-in-out;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      .active {
        rotate: z 180deg;
      }
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: center;

    h2 {
      margin: 30px 0;
      text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 24px;
    }

    .questions {
      .question {
        width: 80vw;
      }
    }
  }
}